.box{
    height: 500px;
    width: 500px;
    background: linear-gradient(top,plum,purple);
    border: 2px solid white;
    background-color:transparent;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
body{
background-image: url('https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&w=600');
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
}
